<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.MoRe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MoRe"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".DatepickerTest"
            android:exported="false"
            android:label="@string/title_activity_datepicker_test"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".DetailMesin"
            android:exported="true"
            android:label="@string/title_activity_detail_mesin"
            android:theme="@style/Theme.MyApplication">
        </activity>
        <activity
            android:name=".BotShetTest"
            android:exported="false"
            android:label="@string/title_activity_bot_shet_test"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".DaftarMesin"
            android:exported="true"
            android:label="@string/title_activity_daftar_mesin"
            android:theme="@style/Theme.MyApplication"></activity>
        <activity
            android:name=".NotificationPage"
            android:exported="false"
            android:label="@string/title_activity_notification_page"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Home"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".HomeScreen"
            android:exported="true"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/Theme.MyApplication">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ComposeTest"
            android:exported="true"
            android:label="@string/title_activity_compose_test"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Verifikasi"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:label="Sign in" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>