<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.MoRe">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/more_logo"
        android:label="MoRe"
        android:roundIcon="@drawable/more_logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MyApplication"
        android:exported="true">
        <activity
            android:name=".DatepickerTest"
            android:exported="false"
            android:label="@string/title_activity_datepicker_test"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".MainActivity"
            android:label="MoRe" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>